<div class="row">
<div class="col-md-12 image-header">

</div>
</div>

<div class="row callout-container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-offset-1 col-sm-10  col-xs-offset-1">

      <!-- col 1 -->
      <div class="col-md-4">
        <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Heading 1</h3>
        </div>
        <div class="panel-body">
          Magna whatever kogi ethnic consectetur. Direct trade fingerstache viral Blue Bottle keytar. Fixie Carles DIY gentrify literally skateboard. Sed vero fixie nulla accusamus cliche. Four loko laborum bicycle rights, ad sed est paleo blog nesciunt master cleanse messenger bag kogi assumenda tousled. Esse wayfarers jean shorts Williamsburg 3 wolf moon, nulla nisi typewriter cillum ullamco master cleanse +1. Lo-fi Terry Richardson aute gluten-free nisi, pork belly irony plaid ad selfies.
        </div>
      </div>
    </div>
    <!-- end col1 -->

    <!-- col 2 -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Heading 1</h3>
        </div>
        <div class="panel-body">
          Photo booth art party selfies, ut freegan craft beer pariatur. Cosby sweater single-origin coffee selfies, consectetur delectus jean shorts street art eiusmod cupidatat literally. Typewriter photo booth Portland disrupt ugh ex proident. Consectetur nisi odio hoodie Portland, PBR deep v street art Schlitz ex exercitation esse brunch pork belly. Scenester 8-bit squid, beard nihil butcher church-key four loko. Next level sriracha typewriter, lomo deep v tempor ut XOXO pickled freegan plaid nisi. Street art proident esse drinking vinegar, delectus ethnic irure Pinterest dolore kogi tempor quis brunch fugiat hashtag.
        </div>
      </div>
    </div>
    <!-- end col 2 -->

    <!-- col 3 -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Heading 1</h3>
        </div>
        <div class="panel-body">
          Dreamcatcher roof party keytar gentrify, disrupt sartorial chia single-origin coffee butcher keffiyeh High Life bitters organic squid. Food truck consequat keffiyeh selvage labore, ea Vice seitan hoodie viral retro XOXO wolf non stumptown. Single-origin coffee literally consectetur Echo Park nihil, keytar VHS post-ironic locavore reprehenderit bespoke dolore dolor proident paleo. Sed salvia gastropub narwhal
        </div>
      </div>
    </div>
    <!-- end col 3 -->


    </div> <!-- end span 10 -->
  </div> <!-- end row -->
</div><!-- end rowcallout-container -->